<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>

<ul>
  <li><%= link_to 'Edit', edit_category_article_path(@category, @article) %></li>
  <li><%= link_to 'Destroy', category_article_path(@category, @article),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></li>
</ul>

<%= link_to 'Back', category_articles_path %>


